* {
    color:purple;
    border:250px;
    margin:24px;
    padding:1px;
}

/* div {
    color:white;
} */
.lasagna{
    text-align:center;
    margin:30px;
}
h1 {
    color:cadetblue;
}

.alert-text {
    color:red;
}

p {
    color: #1100ff;
    font-family:"Times New Roman",serif;
    font: size 22px;
    font-weight:700;
    text-align:center;
    
}

img {
    height:300px;
    width:auto;
    border-radius: 10px;
    margin: 20px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

